body {
  
  color:crimson;
  background-image: url("/insanity.gif");
  
  
  background-size: cover;
  
  
  background-position: center center;
  
  
  background-repeat: no-repeat;
  
  
  background-attachment: fixed;
  
  
  min-height: 100vh;
  margin: 0;
}